*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
/*default styling*/
body {
   
    padding: 0;
    margin: 0;
    display:flex;
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

/*styles the quiz container*/
.container {
    width:800px;
    max-width: 75%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow:0 0 12px 3px 

}

#question {
    margin-bottom: 50px;
    font-size: 25px;
}
/*quiz question and answer styling*/
.btn-grid {
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 5px;
}
/*button styling*/
.btn {
    background-color: lightblue;
    border: gray;
    box-shadow: 0 0 10px 2px;
    border-radius:5px ;
    padding: 5px 10px;
    outline: none;

}

.start-btn, .next-btn {
    font-size: 1.75rem;
    font-weight: bolder;
    padding: 10px 20px;
    background-color:lightblue;
}
/*wrapping buttons*/
.controls {
    display:flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display:none;
}
