:root {
    background-color: azure;
    font-size: 60%;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color:rgb(32, 31, 31);
    
}

.count {
    flex:right;


}